<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <div class="tudo">
        <div class="imagens">
            <div class="imagem"><img src="pato1.png" alt=""></div>
            <div class="imagem"><img src="sapo1.png" alt=""></div>
        </div>
        <div class="container2">
            <h1>O resultado do cone é:</h1>
            <div id="resultado"></div>
        </div>
        <div class="imagens2">
            <div class="imagem"><img src="pato2.png" alt=""></div>
            <div class="imagem"><img src="sapo2.png" alt=""></div>
        </div>
    </div>


    <script>
        const urlParams = new URLSearchParams(window.location.search);
        const volume = parseFloat(urlParams.get('volume'));
        document.getElementById('resultado').innerText = `O volume do cone é: ${volume}`
    </script>
</body>
</html>